<h2>About lager</h2>
<p>
    lager allows logging over http. Say you are writing an app and don't like logging to the console and don't want to implement your own logger. Just make a <code>POST</code> 
    request to <code>http://local-lager-server/my-app/write-log?logText="Hello World"</code>
    
    ... and lager will take care of it for you. It will write to a text file log, and make that log viewable on
    <code>http://local-lager-server/my-app/view-log</code>.
</p>

<p>
    <h3>Links</h3>
    <ul>
        <li><a href="https://github.com/bendotbike/lager">Github</a></li>   
    </ul>
</p>