<h2>About lager</h2>

<p>
    lager allows logging over http. Say you are writing an app and don't like logging to the console and don't want to implement your own logger. Just make a <code>POST</code> 
    request to 
    <p>
        <code><span class="url"></span>/log/write-log?app="my-app"&text="Hello world"&auth="auth_key"</code>
    </p>
    ... and lager will take care of it for you. It will write to a text file log, and make that log viewable on
    <p>
        <code><span class="url"></span>/log/view-log?app="my-app"</code>.
    </p>
</p>

<p>
    <h3>Links</h3>
    <ul>
        <li><a href="https://github.com/bendotbike/lager">Github</a></li>   
    </ul>
</p>