<h2>Register your app</h2>

<p>
    <form action="/auth/register/validate" method="POST" >
        <p>
            <label for="appName">App name</label>
            <br>
            <input id="appName" name="appName" type="text" size="20">
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</p>