<h2>Register your app</h2>

<div class="form-group">
    <form action="/auth/register/validate" method="POST">
        <label class="col-form-label" for="appName">App name</label>
        <p>
            <input type="text" class="form-control" name="appName" id="appName">
        </p>
        <input type="submit" class="btn btn-primary" value="Register app">
    </form>
</div>