<h2>Help</h2>

<ul>
    <li>Installation instructions: <a href="https://github.com/bendotbike/lager/blob/master/README.md">github</a></li>
    <li>API documentation: <a href="https://github.com/bendotbike/lager/blob/master/README.md">github</a></li>
</ul>