<h2>Help</h2>
<h3>More complete documentation can be found <a href="https://github.com/bendotbike/lager/">here</a></h3>

<h3>POST</h3>
<ul>
    <li>
        POST <code>/apps/:your-app/write-log?logText="Text to log"&logLevel="Error"&auth="Auth_Key"</code>
        <br>
        <ul>
            <li><code>:your-app</code>: the name of your app that you registered with lager</li>
            <li><code>?logText</code>: text to write to the log</li>
            <li><code>&logLevel</code>: (<strong>optional</strong>) level of severity (Ex. 'info', 'error', etc.)</li>
            <li><code>&auth</code>: auth key obtained from registering your app with lager</li>
        </ul>
    </li>
</ul>