<h2>Home</h2>

<div class="task-list">
    <ul>
        <li class="task-list--item">
            <a href="/auth">Authorization</a>
        </li>
        <li class="task-list--item">
            <a href="/view-logs">View an app's log</a>
        </li>
        <li class="task-list--item">
            <a href="/app-controls">App controls (restart, host device status)</a>
        </li>
        <li class="task-list--item">
            <a href="/help">Help</a>
        </li>
    </ul>
</div>