<h2>Home</h2>

<div class="jumbotron">
    <h2>lager</h2>
    <p>
        lager is running on <code><span class="url"></span></code>.
    </p>
    <p>
        <a href="https://github.com/bendotbike/lager">Github</a>
    </p>
</div>

<div class="list-group">
    <a href="/auth" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Authorization</h5>
        </div>
        <p class="mb-1">
            Authorize, de-authorization, and view apps
        </p>
    </a>
    <a href="/logs/view" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">View logs</h5>
        </div>
        <p class="mb-1">
            View logs of currently registered apps
        </p>
    </a>
    <a href="/help" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Help</h5>
        </div>
        <p class="mb-1">
            Help, documentation, source code
        </p>
    </a>
</div>