<!doctype html>
<html lang="en">
<head>
    <%- partial("_partials/head.ejs") %>
</head>
<body>

    <%- partial("_partials/navbar.ejs") %>

    <div class="page-content">
        <%- body %>
    </div>

</body>
</html>