<h2><%= app_name %>: Log</h2>

<div class="view-log--controls view-log--container">
    <a class="btn btn-primary btn-lg" href="javascript:location.reload();">Refresh</a>
    <a class="btn btn-primary btn-lg" href="javascript:exportFile();">Export file</a>
</div>

<div class="view-log--log-container view-log--container">
    <code class="log-content"></code>
</div>

<script defer src="/js/view_log.js"></script>

<div class="hidden-meta">
    <span class="appName"><%= app_name %></span>
</div>