/*
*   styles.css
*   Did all of the styling before I integerated bootstrap for the ui
*/

/* CSS variables */
:root {
    
    /* Colors */
    --color--foreground: black;
    --color--background: white;
    --color--accent: #5171A5;
    --color--log-background: #bbc2c4;

    /* Fonts */
    --font--primary: "Arial", sans-serif;
    --font--mono: "Menlo", "Consolas", "Courier New", monospace;

}

/* Body */
body {
    margin: 5px;
    line-height: 1.4;
    color: var(--color--foreground);
    background-color: var(--color--background);
    font-family: var(--font--primary);
}

::selection {
    color: var(--color--background);
    background-color: var(--color--accent);
}

/* Navbar */
.navbar {
    padding: 5px;
}

.navbar--link {
    color: var(--color--accent);
    padding: 5px;
    border-radius: 5px;
}

.navbar--link:hover {
    color: var(--color--background);
    background-color: var(--color--accent)
}

/* Page content */
.page-content {
    margin: 10px;
    line-height: 1.4;
}

.page-content a {
    border-radius: 4px;
    padding: 4px;
    color: var(--color--accent);
}

.page-content a:hover {
    color: var(--color--background);
    background-color: var(--color--accent);
}

.page-content code {
    padding: 3px;
    line-height: 1.6;
    background-color: var(--color--log-background);
    font-family: var(--font--mono);
}

/*
*   UI componenents
*/
#wipe-database-confirmation {
    display: none;
}

/*
*   View log page 
*/
.view-log--controls {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Log display */
.log-container {
    padding: 10px;
    font-family: var(--font--mono);
    font-size: 90%;
    background-color: var(--color--log-background);
}

/*
*   Modifiers
*/
.text-good {
    color: green;
}

.text-bad {
    color: red;
}

/*
*   .hidden-meta
*   For transferring data between node code, ejs templates, and static
*   @todo - probably a better way to do this
*/
.hidden-meta {
    display: none;
}