<div class="navbar">
    <h2 style="display: inline-block;">lager</h2>
    <h3 style="display: inline-block;"><code>v1.0</code></h3>
    <a class="navbar--link" href="/">Home</a>
    <a class="navbar--link" href="/about">About</a>
</div>